html,
body {
  padding: 0px;
  margin: 0px !important;
  font-family: 'Poppins', 'Sans-serif';
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');